<!-- Item Profissional -->
<div class="accordion" id="accordion-prazos{{prazos.id}}"  dnd-draggable [dragEnabled]="true" [dragData]="prazos" >
    <div class="card">
      <a data-toggle="collapse" [attr.data-target]="'#collapse-prazos' + prazos.id" aria-expanded="true" [attr.aria-controls]="'collapse-prazos' + prazos.id">
        <div class="card-header" id="heading-prazos">
          <h5 class="mb-0">

            <button class="btn btn-link" type="button" >
                <i class="fas fa-angle-double-right"></i>
            </button>
          
            <small>{{prazos.Assunto}}</small>

          </h5>
        </div>
      </a>
  
      <div id="collapse-prazos{{prazos.id}}" class="collapse" aria-labelledby="heading-prazos" [attr.data-parent]="'#accordion-prazos' + prazos.id">
        <div class="card-body">
            <p class="card-text" >
              <b>ID: </b>  #{{ prazos.id }}   <span class="float-right"><b>Data:</b> {{ prazos.Data }}</span>  <hr>
              <b>Assunto: </b> <br>
              {{ prazos.Assunto }} <br>
              <b>Cliente: </b> <br>
              {{ prazos.Cliente }}
                
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Item Profissional -->